.header {
  background-color: $background-color;
  min-height: 6vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  box-shadow: 0 5px 5px $header-shadow-color;
}

.logo {
  justify-self: start;
  align-self: center;

  a {
    color: $primary-text-color;
    font-size: 2.5vh;
    text-decoration: none;
    margin-left: 0.3vw;
  }
}

.searchbar {
  justify-self: center;
  align-self: center;

  input {
    color: $primary-text-color;
    border-style: solid;
    border-color: $primary-text-color;
    background-color: $background-color;
    border-radius: 50px;
    width: 30vw;
    height: 2vh;
    font-size: 1.5vh;
    font-style: bold;
    text-indent: 10px;
  }
}

.loginModule {
  justify-self: end;
  align-self: center;

  .loginButton {
    border-radius: 5px;
    color: $primary-text-color;
    border-color: $primary-text-color;
    background: $background-color;
    border-style: solid;
    font-style: bold;
    font-size: 1.5vh;
    width: 4vw;
    height: 3vh;
    margin-right: 0.3vw;
  }
}
